* {
	box-sizing: border-box;
}

/* Fonts
========================================================================== */


/* FONT: Great Vibes */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


/* Typographies / Couleurs (exemples : titres, paragraphes, liens, etc.)
========================================================================== */

body {
	background-color: #EAE7D7;
	font-family: Arial, Helvetica, sans-serif
}

header,
h1,
h2 {
	font-family: "Great Vibes", cursive;
}

/* Mise en page (positionnement)
========================================================================== */

.container {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}


/* Header / Navigations / Footer 
========================================================================== */

header {
	color: white;
	background-color: #414E8D;
	padding: 1rem 2rem;
}

.logo {
	height: 100%;
	width: auto;
	display: block;
}

header nav a {
	color: #DFAE65;
	text-decoration: underline;
	text-decoration-color: #D1725B;
	margin-left: 3rem;
	font-size: 1rem;
	text-transform: uppercase;
	font-size: 1.5rem;
}

header nav a:hover {
	color: #D1725B;
}

.flex-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav a:last-child {
	background-color: #72585E;
	padding: 0.5rem;
	border-radius: 1.5rem;
}

nav a:last-child:hover {
	color: white;
	box-shadow: 0.3rem 0.4rem #35292c6e;
}

.currentpage {
	text-decoration: none;
}

.footer-top {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 3rem 0 1.5rem 0;
}

.footer-bottom {
	display: flex;
	justify-content: space-between;
	text-decoration: underline;
	padding-top: 1.5rem;
	margin-bottom: 2rem;
}

.footer-bottom-right {
	display: flex;
	gap: 1.5rem;
}

/* Composantes générales (exemples : section, cartes, tableaux, etc.)
========================================================================== */

/* Page d'accueil */

.section-top-group {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.section-top-content {
	width: 35%;
}

.section-top-img {
	width: 60%;
	margin: 4rem 0 4rem 0;
}

.button-order {
	text-decoration: none;
	color: #DFAE65;
	background-color: #72585E;
	padding: 0.6rem;
	border-radius: 1.5rem;
}

.button-order:hover {
	color: white;
	box-shadow: 0.2rem 0.2rem #35292c6e;
}

.button-booking {
	text-decoration: none;
	color: #DFAE65;
	background-color: #414E8D;
	padding: 0.6rem;
	border-radius: 1.5rem;
	margin-left: 2rem;
}

.button-booking:hover {
	color: white;
	box-shadow: 0.2rem 0.2rem #232a4d63;
}

.cards-clients {
	display: flex;
	flex-wrap: wrap;
	height: auto;
	/* max-height: 16rem; */
	width: 32%;
	border-radius: 1.5rem;
	padding: 0.5rem;
	background-color: #414E8D;
	color: white;
	box-shadow: 0.2rem 0.2rem #232a4da2;
}

.cards-clients p {
	font-size: small;
	padding: 0 1rem 0 1rem;
	line-height: 1.2rem;
}

.card-img {
	padding: 0.5rem;
	width: 4.5rem;
	height: 4.5rem;
	border-radius: 50%;
	object-fit: cover;
}

.card-name {
	display: flex;
	align-items: center;
	color: #DFAE65;
}

.card-name h4 {
	padding-left: 0.5rem;
}

.card-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 1rem;
}

/* Formulaires
========================================================================== */

form span {
	color: red;
	font-weight: bold;
}


/* Règles spécifiques aux pages
========================================================================== */